body {
    font-family: Roboto;
}

.b1,
.b2 {
    color: white;
    padding: 6px;
}

.b1 {
    background-color: purple;
}

.b2 {
    background-color: orange;
}

.bg-blue {
	background-color: blue !important;
}
.bg-red {
	background-color: red !important;
}
.bg-green {
	background-color: green !important;
}