// =============================== Mixins
@mixin generate-padding($values...) {
    @each $value in $values {
        .p-#{$value} {
            padding: #{$value}px;
        }
        .pt-#{$value} {
            padding-top: #{$value}px;
        }
        .pb-#{$value} {
            padding-bottom: #{$value}px;
        }
        .pl-#{$value} {
            padding-left: #{$value}px;
        }
        .pr-#{$value} {
            padding-right: #{$value}px;
        }
    }
}

@mixin generate-margin($values...) {
    @each $value in $values {
        .m-#{$value} {
            margin: #{$value}px;
        }
        .mt-#{$value} {
            margin-top: #{$value}px;
        }
        .mb-#{$value} {
            margin-bottom: #{$value}px;
        }
        .ml-#{$value} {
            margin-left: #{$value}px;
        }
        .mr-#{$value} {
            margin-right: #{$value}px;
        }
    }
}

@mixin generate-media-queries($mode) {
    @for $i from 1 through 12 {
        @if $mode=='desktop' {
            $value: #{($i * 8.333333333)};
            .cell-#{$i},
            .cell-#{$i}-#{$mode} {
                width: #{$value + '%'};
            }
        }
        @if $mode=='tablet' {
            $value: 1;
            @if $i>=8 {
                $value: 100;
            }
            @else {
                $value: #{($i * 8.333333333)};
            }
            .cell-#{$i},
            .cell-#{$i}-#{$mode} {
                width: #{$value + '%'};
            }
        }
        @if $mode=='phone' {
            $value: 1;
            @if $i>=5 {
                $value: 100;
            }
            @else {
                $value: #{($i * 8.333333333)};
            }
            .cell-#{$i},
            .cell-#{$i}-#{$mode} {
                width: #{$value + '%'};
            }
        }
    }
}

// =============================== Padding generation
@include generate-padding(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30);
@include generate-margin(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30);
// =============================== Flex
.flex {
    display: flex;
}

.c-row {
    display: flex;
    width: 100%;
    flex-flow: row;
}

.c-column {
    display: flex;
    width: 100%;
    flex-flow: column;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

// =============================== justify content
.jc-start {
    justify-content: flex-start;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.jc-sa {
    justify-content: space-around;
}

.jc-sb {
    justify-content: space-between;
}

// =============================== align items
.ai-start {
    align-items: flex-start;
}

.ai-center {
    align-items: center;
}

.ai-end {
    align-items: flex-end;
}

// =============================== align self
.as-start {
    align-self: flex-start;
}

.as-center {
    align-self: center;
}

.as-end {
    align-self: flex-end;
}

.as-stretch {
    align-self: stretch;
}

// =============================== padding / margin
.no-p {
    padding: 0 0 0 0;
}

.no-m {
    margin: 0 0 0 0;
}

.cell {
    // display: flex;
    flex: 1;
}

.cell-1,
.cell-2,
.cell-3,
.cell-4,
.cell-5,
.cell-6,
.cell-7,
.cell-8,
.cell-9,
.cell-10,
.cell-11,
.cell-12 {
    display: flex;
    box-sizing: border-box;
}

// =============================== cell
// Desktop and more
@media (min-width: 840px) {
    @include generate-media-queries('desktop');
}

// Tablets
@media (min-width:480px) and (max-width:839px) {
    @include generate-media-queries('tablet');
}

// Phones
@media (max-width:479px) {
	@include generate-media-queries('phone');
}